<section class="welcome-header">
  <h1 id="welcome-text">Welcome to our TrailBlog!</h1>
  <h3 id="welcome-content">Lets talk about the latest news and compare gear with our community!</h3>
</section>

<section class="sub-header">
  <h3 id="sub-about">Our website gives avid trail riders an opportunity to discuss their favorite trails or equipment with other riders.</h3>
  <%= link_to "Learn More", about_path, class: "btn btn-primary btn-large", id: "sub-button"%>
</section>

<section class="bgimage">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h5>Hello, bloggers! Talk to us about Mountain Bikes and stuff</h5>
      <p><%= link_to "Learn More", about_path, class: "btn btn-primary btn-large" %></p>
    </div>
  </div>
</section>

<section class="sub-header">
  <%= link_to "Learn More", about_path, class: "btn btn-primary btn-large" %>
</section>
