<section class="welcome-header">
  <div class="container-fluid">
    <h1 id="welcome-text">Welcome to our TrailBlog!</h1>
    <h3 id="welcome-content">Lets talk about the latest news and compare gear with our community</h3>
  </div>
</section>

<section class="sub-header">
  <div class="container-fluid">
    <%= link_to "Learn More", about_path, class: "btn btn-primary btn-large" %>
  </div>
</section>

<section class="bgimage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5>Hello, bloggers! Talk to us about Mountain Bikes and stuff</h5>
        <p><%= link_to "Learn More", about_path, class: "btn btn-primary btn-large" %></p>
      </div>
    </div>
  </div>
</section>

<section class="sub-header">
  <div class="container-fluid">
    <%= link_to "Learn More", about_path, class: "btn btn-primary btn-large" %>
  </div>
</section>
