<section class="welcome-header container-fluid">
  <h1 id="welcome-text">Welcome to our TrailBlog!</h1>
  <h3 id="welcome-content">Lets talk about the latest news and compare gear with our community!</h3>
</section>

<section class="sub-header container-fluid">
    <%= link_to "Learn More", about_path, class: "btn btn-primary btn-large" %>
</section>

<section class="bgimage container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h5>Hello, bloggers! Talk to us about Mountain Bikes and stuff</h5>
        <p><%= link_to "Learn More", about_path, class: "btn btn-primary btn-large" %></p>
      </div>
    </div>
</section>

<section class="sub-header">
    <%= link_to "Learn More", about_path, class: "btn btn-primary btn-large" %>
</section>
